* {
    box-sizing: border-box;
  }

body, html {
	height: 100vh;
    margin: 0%;
    font-family: 'Patrick Hand', sans-serif;
    background: linear-gradient( #bf033b 0%, #ffc719 70%);
    background-position: left top, right top, bottom;
    overflow:auto;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
/* Hero */
#h1{
    font-size: 80px;
    text-align: center;
    font-weight: bolder;
    color: black;
}
#description{
    font-size: 35px;
    text-align: center;
    color: black;
}

main {
    display: flex;
    flex-wrap: wrap;
}
  
 /* Date and Location */

aside {
    flex: 1.5;
    padding: 5px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
  }

.submitBtn {
    border-radius: 10rem;
    font-family: 'Patrick Hand', sans-serif;
    font-size: 30px;
    font-weight: bolder;
}

#location{
    background-color: #242428;
    color: white;
}

#demo-anchored{
    background-color: #242428;
    color: white;
}

#solar{
    flex: 3;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

#sunrise, #noon, #sunset{
        border-style: solid;
        border-width: 3px;
        padding: 5px;
        flex: 0 10 235px;
        /* transform: rotate(5deg); */
        box-shadow: 5px 5px 5px #aaaaaa;
        margin: 10px;     
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.title {
    text-align: center;
    text-decoration: underline;
    color: black;
}

h2{
    font-size: 30pt;
    color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
  
@media screen and (max-width: 768px) {
    main,
    aside,
    #solar {
      flex-direction: column;
    }
  }